.description {
  composes: description from "../../../../styles/FormControls.module.css";
}
.form {
  composes: form from "../../../../styles/FormControls.module.css";
}
.label {
  composes: label from "../../../../styles/FormControls.module.css";
}
.inputWrap {
  composes: inputWrap from "../../../../styles/FormControls.module.css";
}
.input {
  composes: input from "../../../../styles/FormControls.module.css";
}
.primaryButton {
  composes: primaryButton from "../../../../styles/FormControls.module.css";
}
.error {
  composes: error from "../../../../styles/FormControls.module.css";
}
.spinner {
  composes: spinner from "../../../../styles/FormControls.module.css";
}
