.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}

.titleRow {
  display: flex;
  align-items: center;
  gap: 10px;
}

.title {
  margin: 0;
  font-size: 1.25rem;
  color: #002753;
}

.lastUpdated {
  font-size: 0.75rem;
  color: var(--neutral-500);
}